<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/77024fa835.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/Assets/css/normalize.css">

  <title>ForjaEmpresa</title>
</head>
<body>
<section class="fondopa">
    <div class="blank">
    <div class="alerta">
        <img src="../Assets/imagenes/0. logoforja.png">
    </div>
    <br> 
    
<h2>Usuario no registrado, ¿desea realizar su registro?</h2>
<br>
    <div> <button class="botgracias"> <a href="Pacientes.html" >Si, gracias</a>
    <button class="botcancelar"> <a href="/index.html" >Cancelar</a>
    </div>

</section>

</body>
</html>  